# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Midterm.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Maleriya\Desktop\Pigeon Gaming\Midterm\.idea\.idea.Midterm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
